<%= link_to image_bookmarks_path(image, likeable_type: Bookmark.name,
  likeable_id: image.id), remote: true, method: :post do %>
  <li>
    <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
    <span><%= t "bookmark" %></span>
  </li>
<% end %>
