<% provide :title, t("pages.home") %>
<div class="container about">
  <h2><%= t "pages.about" %></h2>

  <div class="content-section-a">
    <h3><%= t "team3.minh" %></h3>
    <%= image_tag "minh.jpg", class: "img-responsive" %>
  </div>

</div>
