$gray-medium-light: #eaeaea;
$white: #fff;
$black-medium: #333;
$black1: rgba(0, 0, 0, .1);
$black2: rgba(0, 0, 0, .6);
$black3: rgba(0, 0, 0, .16);

.create-group-form {
  .create-group-modal {
    min-height: 55vh;
  }
}

.menu-group-actions {
  background-color: $white;
  box-shadow: 0 2px 4px 0 $black3 !important;
  height: 45px;
  padding: 10px;

  span {
    background-color: $white;
    border-right: 1px solid $black3;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
  }
}

a {
  color: $black-medium;

  &:hover {
    text-decoration: none;
  }
}


.group-cover {
  position: relative;

  .img-group-cover {
    cursor: pointer;
    height: 50vh;
    width: 100%;
  }

  .group-cover-update-text {
    background: linear-gradient(transparent, $black2 50%,
      $black2 100%);
    border: 1px solid $black1;
    color: $white;
    cursor: pointer;
    display: none;
    font-size: 20px;
    font-weight: bold;
    left: 40%;
    padding-top: 5px;
    position: absolute;
    top: 45%;
  }
}

.group-images {
  margin-top: -20px;

  .new-image {
    background-color: $white;
    border: 1px solid $gray-medium-light;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-top: 15px;
    padding: 10px;
    width: 100%;

    img {
      float: left;
      margin-right: 5px;
    }

    .description-field {
      border-bottom: 1px solid $gray-medium-light;
    }

    textarea {
      border: 0;
      font-weight: normal;
      height: 70px;
      outline: none;
      padding: 10px;
      resize: none;
      width: 90%;
    }

    .image-file {
      margin-left: 50px;
      margin-top: 20px;
    }

    .actions {
      padding-left: 750px;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: bolder;
  }
}

.cover-modal {
  .group-cover-edit {
    margin-bottom: 10px;
    width: 100%;
  }

  .group-form-submit {
    .group-cover-btn-save {
      float: right;
    }

    .group-cover-btn-cancel {
      float: right;
      margin-right: 10px;
    }
  }
}
