$white: #fff;
$black: #000;
$black1: rgba(0, 0, 0, .1);
$black2: rgba(0, 0, 0, .16);
$color1: rgba(8, 8, 8, .1);
$blue1: #365899;

.images {
  background-color: $white;
  box-shadow: 1px 2px 4px 1px $black2 !important;
  margin-top: 10px;
  padding: 10px;

  .images-modal {
    margin-top: 50px;
    min-height: 60vh;
    min-width: 60%;
    text-align: -webkit-center;
  }

  hr {
    margin: 0 !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
  }
}

.images-body {
  .images-body-description {
    margin-bottom: 10px;
  }

  .images-body-image {
    text-align: -webkit-center;

    .images-show {
      cursor: pointer;
    }

    .image-zoom {

      height: 30px;
      wigth: 25px;
    }
  }

  .images-body-category {
    margin-bottom: 10px;
  }
}

.image-form {
  .field {
    margin-bottom: 10px;

    .image-description {
      min-height: 150px;
    }
  }

  .image-image {
    margin-bottom: 10px;

    .image-panel {
      border: 1px solid $black1;
      height: 200px;
      margin-bottom: 10px;
      margin-right: 10px;
      width: 100%;
    }

    .image-file-field {
      display: inherit;
      margin-left: -150px;
      opacity: 0;
      width: 150px;
    }
  }

  .actions {
    float: right;

    .image-btn-cancel {
      margin-right: 10px;
    }
  }
}

.images-header {
  margin-bottom: 10px;
  position: relative;

  .images-header-content {
    .images-header-avatar {
      border: 1px solid $black1;
      display: block;
      float: left;
      height: 40px;
      margin-right: 5px;
      width: 40px;
    }
  }
}

.images-header-info {
  overflow: hidden;

  h6 {
    color: $blue1;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0 !important;
    margin-top: 5px !important;

    .image-post-title {
      color: $black;
      font-size: small;
      font-weight: 100;
    }
  }

  .images-header-user {
    width: 100%;
  }
}

.images-header-icon {
  cursor: pointer;
  float: right;
  min-width: 115px;
  position: absolute;
  right: 0;
  top: 0;

  .icon {
    float: right;
    height: 20px;
    width: 20px;
  }

  .dropdown-menu {
    min-width: 140px;

    a:hover {
      cursor: auto;
      text-decoration: none !important;
    }

    li {
      border-bottom: 1px solid $color1;
      color: $black;
      padding: 7px;
    }
  }

  .images-header-option {
    display: none;
  }
}

.show-full-size {
  .modal-dialog {
    width: auto;

    .images-show-detail {
      height: auto;
    }
  }
}

.show-image {
  background-color: $white;
  margin-top: -20px;
}

.user-show {
  .menu-group-actions {
    margin-right: 0;
  }
}

.show-list-groups {
  margin-left: 0;
  padding: 15px;
  padding-left: 20px;
}

.show-group {
  margin-left: 0;
  padding: 15px;
  padding-left: 20px;
}

.menu-group-actions {
  margin-right: -15px;
}

.group-cover {
  margin-right: -15px;
}

.recent-activity {
  .images {
    padding: 10px;
  }
}

.group-images {
  .new-image {
    margin-right: 0;
  }
}

.icon-image {
  background-color: $black1;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  width: 150px;

  .fa {
    color: $blue1;
  }
}

.album-image {
  margin-bottom: 10px;

  .image-panel {
    height: 200px;
    margin-bottom: 10px;
    width: 100%;
  }

  .image-file-field {
    display: inherit;
    margin-left: -150px;
    opacity: 0;
    width: 150px;
  }
}

.album-image-form {
  border: 1px solid $black1;
  margin: 5px;
  padding: 0;

  .field {
    margin-bottom: 0;
    padding: 0;
  }
}

.show-album {
  .album-name {
    text-align: center;
  }

  .images-show {
    height: 300px;
  }
}

.index-bookmarked-images {
  margin-top: -15px;

  .images {
    margin: 10px;
    padding: 15px;
  }
}

images-zoom-one {
  height: 260px;
  width: 200px;
}

images-zoom-two {
  height: 300px;
  width: 250px;
}
