<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong><%= t "social-image" %></strong></h4>
        <p><%= t "team3.address" %></p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i><%= t "team3.phone" %></li>
          <li><i class="fa fa-envelope-o fa-fw"></i>
            <%= link_to t("team3.email"), "#" %></a>
          </li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</footer>
